
body {
 display: flex;   
 margin: auto;
flex-direction: column;
min-height: 100vh;
background-color: #a2a8d3;;
   
}


header {
    background-color: pink;
    padding:20px;
  }


  .footer {
    background-color: #df0882;
    display: flex;
    align-items: flex-end;
    margin-top: auto;
    padding: 20px;
  }
  
  

  h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
  


p {
    color: azure;
    font-style: italic;
    font-size: 10px;
}



img {
    height: 250px;
    width: 225px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 30;
    border: 10 px solid #a2a8d3;
}

ul{
    font-family: 'Poppins', sans-serif;
}

.list {
margin-left: 20px;
}

/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */